<nav>
    <ul>
      <li><img src="http://localhost:3333/images/logo.svg" alt="loguinho" /></li>
      <li><a id="Inicio" href="#">Inicio</a></li>
    </ul>
    <ul>
      <li class="itensHeader">
        <a class="nomeHeader" href="#">Quem somos</a>
    </ul>
  </nav>